<div class="pt-xl pb-xl">
  <h2 class="fs-xl text-dark mb-lg text-center">Countries</h2>
  <div class="row">
    <div class="col-12 p-xs">
      <input type="text" class="form-control" [(ngModel)]="filterValue" (input)="filterCountries()" placeholder="Filter by country ID">
    </div>
    <div class="col-12 p-xs">
      <input type="text" class="form-control" [(ngModel)]="countryIds" (keydown.enter)="addCountries()" placeholder="Enter country IDs (comma-separated)">
      <button class="btn btn-primary btn-lg mt-sm" (click)="addCountries()">Add Countries</button>
      <p class="text-danger mt-sm">{{ error }}</p>
    </div>
    <div class="col-6 col-md-4 p-xs" *ngFor="let country of filteredCountries">
      <app-country-card [country]="country"></app-country-card>
    </div>
  </div>
</div>
