@import "src/assets/style/variables";

.header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0rem;
  left: 0rem;
  padding: 1.5rem 0rem;
  z-index: 9999;
  box-shadow: 0 0 11px -4px #333;
  background-color: $white;

  @media (max-width: $md) {
    padding: 1.5rem 0rem;
  }

  &-links {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
    text-align: center;
    margin-left: 1rem;
    li {
      display: inline-block;
      a {
        position: relative;
        display: inline-block;
        padding: rem(8px) 1rem;
        margin: 0rem 0.5rem;
        font-weight: 600;
      }
    }
  }
}
